# Ignore all directories
*/
# Don't ignore these directories
!surfingkeys/
!prompts/
!tmux_bash_scripts/
!tmux/
# Track files in nvim_dotfile root but ignore subdirectories
!nvim_dotfile/
nvim_dotfile/*/
